{% extends 'blocks/base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="mb-4">Sign In</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="wow fadeIn" data-wow-delay="0.3s">
                    <form method="POST" action="/login">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            {% if error_messages %}
                            <div class="col-12">
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in error_messages %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
<script>

</script>
{% endblock %}