{% extends 'blocks/base.html' %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="mb-4">Roomid : {{ room.room_id}}</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mb-3 text-center">
                    <h3>Room Owner: {{ room.room_owner.username }}</h3>
                </div>
                <div class="mb-3 text-center">
                    <h3>Opponent: {{ room.room_opponent.username }}</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex justify-content-center">
                <div id="myBoard" style="width: 400px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
<script>
const board = Chessboard2('myBoard', {
    draggable: true,
    moveSpeed: 'slow',
    snapbackSpeed: 500,
    snapSpeed: 100,
    position: 'start' // Set the position to the starting position
});

var socket = io.connect('http://' + document.domain + ':' + location.port);
</script>
{% endblock %}