{% extends 'blocks/base.html' %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="mb-4">Roomid : {{ room.room_id}}</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mb-3 text-center">
                    <h3>Room Owner: <span id="room_owner">{{ room.room_owner.username }}</span></h3>
                </div>
                <div class="mb-3 text-center">
                    <h3>Opponent: <span id="room_opponent">{{ room.room_opponent.username }}</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex justify-content-center">
                <div id="myBoard" style="width: 400px;"></div>
            </div>
        </div>
        <!-- Room Observers List -->
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <div class="mb-3 text-center">
                    <h3>Observers - <span id="observer_count"> {{ room.observers|length }} </span></h3>
                </div>
                <div class="mb-3 text-center">
                    <ul id="observers_list">
                        {% for observer in room.observers %}
                        <li>{{ observer.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
<script>

var draggable = false;
var orientation = 'white';


// Set draggable to false if the user is observer
if ('{{ user.username }}' == '{{ room.room_owner.username }}' || '{{ user.username }}' == '{{ room.room_opponent.username }}') {
    draggable = true;
}
// Set orientation to black if the user is owner and the room owner side is black 
if ( '{{ user.username }}' == '{{ room.room_owner.username }}'  && '{{room.room_owner_side.value }}' == 1 ){
    orientation = 'black'
}

// Set orientation to black if the user is opponent and the room owner side is white
if ('{{ user.username }}' == '{{ room.room_opponent.username }}' &&  '{{room.room_owner_side.value}}'  == 0 ) {
    orientation = 'black';
}




const board = Chessboard2('myBoard', {
    draggable: draggable,
    moveSpeed: 'slow',
    snapbackSpeed: 500,
    snapSpeed: 100,
    position: 'start', // Set the position to the starting position
    onDrop,
    orientation: orientation
});

// Set the board pieces from FEN on page load
console.log('{{ room.game.fen() }}');
board.position('{{ room.game.fen() }}');

var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('connect', function() {
    var room_id = '{{ room.room_id }}';
    console.log(room_id);

    var options = {
        room_id: room_id
    };

    // Emit subscribe_to_room event and process the response
    socket.emit('subscribe_to_room', options, 
    (response) => {

        if (response.status == 'success') {
            console.log('Subscribed to room');
        } else {
            console.log('Failed to subscribe to room');

            // Show error message
            Toastify({
                className: "tostify-danger",
                text: response.message,
                duration: 3000
            }).showToast();

            // TODO: Redirect to home page maybe?
        }
    });
});

// socket on room_update event
socket.on('room_updated_', function(data) {
    data = jQuery.parseJSON(data);
    console.log('Room update event received');
    console.log(data);

    if (data.room_opponent) {
        $('#room_opponent').text(data.room_opponent.username);
    }

    if (data.observers) {
        $('#observer_count').text(data.observers.length);
        $('#observers_list').empty();
        data.observers.forEach(function(observer) {
            $('#observers_list').append('<li>' + observer.username + '</li>');
        });
    }
});

// On piece move event emit move event to server
function onDrop (data) {
    data = jQuery.parseJSON(JSON.stringify(data)); // Format = {"orientation": "white", "piece": "bP", "source": "c7", "target": "c5", "x": 556, "y": 564 }

    console.log(data);

    // Save the current board position before moving the piece to rollback in case of error
    var rowback = board.position();

    var data_to_send = {
        room_id: '{{ room.room_id }}',
        move: {
            source: data.source,
            target: data.target,
            piece: data.piece
        }
    };

    socket.emit('piece_move', data_to_send, 
    (response) => {

        if (response.status == 'success') {
            console.log('Piece moved successfully');
            console.log(response.data);
            board.position(response.data);
        } else {
            console.log(response.message);

            // Show error message
            Toastify({
                className: "tostify-danger",
                text: response.message,
                duration: 3000
            }).showToast();

            // Rollback the move on the board
            board.position(rowback);
        }
    });
}

// socket on piece_moved event
socket.on('piece_moved_', function(data) {
    console.log('Piece moved event received');
    console.log(data);

    // Move the piece on the board
    //board.move(data.move.source + '-' + data.move.target);
    board.position(data.fen);
});

// function which emits test event
function test() {
    socket.emit('test', {
        data: 'test'
    });
}

</script>
{% endblock %}